@model ApiCentroMedicoClient.Models.Usuario

@{
    List<Estados> estados = ViewData["ESTADOS"] as List<Estados>;
}

<div class="container text-center">
    <div style="display: flex; align-items: center; justify-content: center;">
        <h1 style="margin-right: 10px;">Actualizar Datos Usuario</h1>
        <a asp-controller="CentroMedicoClient" asp-action="AdministradorListaUsuarios"><img src="~/images/iconoflecha.png" style="width:40px;height:40px;"></a>
    </div>
    <hr />
    <div>
        <div style="width:60%;margin:auto">
            <form asp-action="AdministradorActualizarUsuario" id="medicoForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" hidden/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contra" class="control-label"></label>
                    <input asp-for="Contra" class="form-control" />
                    <span asp-validation-for="Contra" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <select class="form-select" name="Id_EstadoUsuario">
                        @foreach(Estados estado in estados){
                            <option value="@estado.Id">@estado.Estado</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input asp-for="Id_TipoUsuario" class="form-control" hidden/>
                    <span asp-validation-for="Id_TipoUsuario" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            // Agregar un listener al formulario para mostrar SweetAlert antes de enviarlo
            document.getElementById('medicoForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Evitar que el formulario se envíe normalmente

                // Lógica para enviar el formulario usando Fetch API
                fetch(this.action, {
                    method: this.method,
                    body: new FormData(this)
                })
                    .then(response => {
                        if (response.ok) {
                            // Si la respuesta es exitosa, mostrar SweetAlert
                            Swal.fire({
                                title: '¡Buen trabajo!',
                                text: '¡Los datos se actualizaron correctamente!',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            });
                        } else {
                            // Si hay un error en la respuesta, mostrar un mensaje de error
                            Swal.fire({
                                title: 'Error',
                                text: 'Hubo un problema al actualizar los datos.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // En caso de error en la solicitud, mostrar un mensaje de error
                        Swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al enviar la solicitud.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
            });
        </script>
    }
</div>
