@model ApiCentroMedicoClient.Models.Medico

@{
    List<Especialidades> especialidades = ViewData["ESPECIALIDADES"] as List<Especialidades>;
}

<div class="container text-center">
    <div style="display: flex; align-items: center; justify-content: center;">
        <h1 style="margin-right: 10px;">Crear Medico</h1>
        <a asp-controller="CentroMedicoClient" asp-action="AdministradorListaUsuarios"><img src="~/images/iconoflecha.png" style="width:40px;height:40px;"></a>
    </div>
    <hr />
    <div>
        <div style="width:60%;margin:auto">
            <form asp-action="CreateMedico">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*             <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contra" class="control-label"></label>
                    <input asp-for="Contra" class="form-control" />
                    <span asp-validation-for="Contra" class="text-danger"></span>
                </div>
                @*             <div class="form-group">
                <label asp-for="EstadoUsuario" class="control-label"></label>
                <input asp-for="EstadoUsuario" class="form-control" />
                <span asp-validation-for="EstadoUsuario" class="text-danger"></span>
                </div> *@
                @*             <div class="form-group">
                <label asp-for="TipoUsuario" class="control-label"></label>
                <input asp-for="TipoUsuario" class="form-control" />
                <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="Especialidad" class="control-label"></label>
                    <select name="Especialidad" class="form-control">
                        @foreach (Especialidades espe in especialidades)
                        {
                            <option value="@espe.Id">@espe.Especialidad</option>
                        }
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</div>