<h1>Log In Empleados</h1> 

<h2 style="color:blue">@ViewData["MENSAJE"]</h2> 
  
<form method="post"> 
    <label>User:</label> 
    <input type="text" name="correo" class="form-control"/> 
    <label>Password</label> 
    <input type="text" name="contra" class="form-control"/> 
    <button class="btn btn-dark"> 
        Log In 
    </button> 
</form> 