@if(Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CentroMedicoClient" asp-action="Index">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Managed" asp-action="LogOut">Log Out</a>
    </li>
    <li class="nav-item">
        @if (Context.User.IsInRole("1"))
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Area Personal Admin</a>
        }
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Managed" asp-action="Login">Log In</a>
    </li>
}